body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for the index page */
#index-container {
  background: linear-gradient(to bottom, #001F3F, #00102B);
  color: white;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
}

#index-content {
  text-align: center;
}

#index-button-container {
  background-color: #004080; /* Box color */
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px; /* Add margin to separate from heading */
}

#index-button {
  background-color: #0056b3; /* Change button color */
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#index-button:hover {
  background-color: #004080; /* Change hover color */
}
