<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of APIs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}">
</head>
<body>
  <header>
    <h1>Loan Prediction</h1>
    <nav>
      <a href="{{ url_for('index') }}" class="nav-button">Home</a>
      <a href="{{ url_for('api') }}" class="nav-button">API</a>
    </nav>
  </header>
  
  <h1>List of APIs</h1>
  <ul>
    <li><a href="/bureau">Bureau</a></li>
    <li><a href="/bureau_balance">Bureau Balance</a></li>
    <li><a href="/credit_card_balance">Credit Card Balance</a></li>
    <li><a href="/installments_payments">Installments Payments</a></li>
    <li><a href="/pOS_CASH_balance">POS CASH Balance</a></li>
    <li><a href="/previous_application">Previous Application</a></li>
    <li><a href="/application_train">Application Train</a></li>
  </ul>
</body>
</html>