<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of APIs</title>
</head>
<body>
  <h1>List of APIs</h1>
  <ul>
    <li><a href="/bureau">Bureau</a></li>
    <li><a href="/bureau_balance">Bureau Balance</a></li>
    <li><a href="/credit_card_balance">Credit Card Balance</a></li>
    <li><a href="/installments_payments">Installments Payments</a></li>
    <li><a href="/pOS_CASH_balance">POS CASH Balance</a></li>
    <li><a href="/previous_application">Previous Application</a></li>
    <li><a href="/application_train">Application Train</a></li>
  </ul>
</body>
</html>