<!-- templates/form.html -->
>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Pre-Evaluation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Loan Prediction</h1>
        <nav>
            <a href="{{ url_for('index') }}" class="nav-button">Home</a>
            <a href="{{ url_for('api') }}" class="nav-button">API</a>
        </nav>
    </header>

    <h2>Pre-assessment form</h2>

    <form id="dataForm">
        <!-- Personal Information Section -->
        <h3>Personal Information</h3>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required class="styled-input"><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required class="styled-input"><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required class="styled-input"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required class="styled-input"><br>

        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number" required class="styled-input"><br>

        <!-- Gap between sections -->
        <hr>

        <h3>Family </h3>
        
        <label for="CNT_FAM_MEMBERS">Number of Family Members:</label>
        <input type="number" id="CNT_FAM_MEMBERS" name="CNT_FAM_MEMBERS" required class="styled-input"><br>
        
        <label for="OWN_CAR_AGE">Own Car Age:</label>
        <input type="number" id="OWN_CAR_AGE" name="OWN_CAR_AGE" required class="styled-input"><br>
        

        <hr>
        <!-- Financial Information Section -->
        <h3>Financial </h3>
        <label for="SK_ID_CURR">SK Current ID:</label>
        <input type="number" id="SK_ID_CURR" name="SK_ID_CURR" required class="styled-input"><br>

        <label for="AMT_INCOME_TOTAL">AMT Income Total:</label>
        <input type="number" id="AMT_INCOME_TOTAL" name="AMT_INCOME_TOTAL" required class="styled-input"><br>

        <label for="AMT_REQ_CREDIT_BUREAU_YEAR">AMT Req Credit Bureau Year:</label>
        <input type="number" id="AMT_REQ_CREDIT_BUREAU_YEAR" name="AMT_REQ_CREDIT_BUREAU_YEAR" required class="styled-input"><br>

        <label for="OBS_30_CNT_SOCIAL_CIRCLE">OBS 30 CNT SOCIAL CIRCLE:</label>
        <input type="number" id="OBS_30_CNT_SOCIAL_CIRCLE" name="OBS_30_CNT_SOCIAL_CIRCLE" required class="styled-input"><br>

        <label for="OBS_60_CNT_SOCIAL_CIRCLE">OBS 60 CNT SOCIAL CIRCLE:</label>
        <input type="number" id="OBS_60_CNT_SOCIAL_CIRCLE" name="OBS_60_CNT_SOCIAL_CIRCLE" required class="styled-input"><br>
        
        <label for="AMT_ANNUITY_x">AMT Annuity:</label>
        <input type="number" id="AMT_ANNUITY_x" name="AMT_ANNUITY_x" required class="styled-input"><br>

        <label for="CNT_INSTALMENT_MATURE_CUM">CNT INSTALMENT MATURE CUM:</label>
        <input type="number" id="CNT_INSTALMENT_MATURE_CUM" name="CNT_INSTALMENT_MATURE_CUM" required class="styled-input"><br>

        <label for="AMT_PAYMENT">Amount Payment:</label>
        <input type="number" id="AMT_PAYMENT" name="AMT_PAYMENT" required class="styled-input"><br>

        <label for="DAYS_ENTRY_PAYMENT">Days Entry Payment:</label>
        <input type="number" id="DAYS_ENTRY_PAYMENT" name="DAYS_ENTRY_PAYMENT" required class="styled-input"><br>

        <label for="AMT_INSTALMENT">Amount Instalment:</label>
        <input type="number" id="AMT_INSTALMENT" name="AMT_INSTALMENT" required class="styled-input"><br>

        <label for="DAYS_INSTALMENT">Days Instalment:</label>
        <input type="number" id="DAYS_INSTALMENT" name="DAYS_INSTALMENT" required class="styled-input"><br>

        <label for="NUM_INSTALMENT_NUMBER">Number Instalment Number:</label>
        <input type="number" id="NUM_INSTALMENT_NUMBER" name="NUM_INSTALMENT_NUMBER" required class="styled-input"><br>

        <label for="CNT_INSTALMENT_FUTURE">Count Instalment Future:</label>
        <input type="number" id="CNT_INSTALMENT_FUTURE" name="CNT_INSTALMENT_FUTURE" required class="styled-input"><br>

        <label for="CNT_INSATLMENT">Count Insatllment:</label>
        <input type="number" id="CNT_INSATLMENT" name="CNT_INSATLMENT" required class="styled-input"><br>

        <label for="MONTHS_BALANCE_Credit_card_balance">MONTHS BALANCE Credit card balance:</label>
        <input type="number" id="MONTHS_BALANCE_Credit_card_balance" name="MONTHS_BALANCE_Credit_card_balance" required class="styled-input"><br>

        <label for="MONTHS_BALANCE_x">MONTHS BALANCE:</label>
        <input type="number" id="MONTHS_BALANCE_x" name="MONTHS_BALANCE_x" required class="styled-input"><br>
        

        

        <button type="button" onclick="submitForm()" class="styled-button">Submit</button>
    </form>

    <form id="loanAmountPredictionForm">
       <script> 
        function runLoanAmountPrediction() {
            fetch('/predictLoanAmount', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                })
                .then(response => response.json())
                .then(data => {
                    alert('Loan amount predicted successfully!');
                    console.log(data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        } 
        </script>
        <button type="button" onclick="runLoanAmountPrediction()">Predict Loan Amount</button>
    </form>

    <!-- <script src="{{ url_for('static', filename='js/style.js') }}"></script> -->
    <script>
        function submitForm() {
            const formData = {
                first_name: document.getElementById('first_name').value,
                last_name: document.getElementById('last_name').value,
                age: document.getElementById('age').value,
                email: document.getElementById('email').value,
                phone_number: document.getElementById('phone_number').value,
                SK_ID_CURR: document.getElementById('SK_ID_CURR').value,
                AMT_INCOME_TOTAL: document.getElementById('AMT_INCOME_TOTAL').value,
                AMT_REQ_CREDIT_BUREAU_YEAR: document.getElementById('AMT_REQ_CREDIT_BUREAU_YEAR').value,
                OBS_30_CNT_SOCIAL_CIRCLE: document.getElementById('OBS_30_CNT_SOCIAL_CIRCLE').value,
                OBS_60_CNT_SOCIAL_CIRCLE: document.getElementById('OBS_60_CNT_SOCIAL_CIRCLE').value,
                AMT_ANNUITY_x: document.getElementById('AMT_ANNUITY_x').value,
                CNT_INSTALMENT_MATURE_CUM: document.getElementById('CNT_INSTALMENT_MATURE_CUM').value,
                AMT_PAYMENT: document.getElementById('AMT_PAYMENT').value,
                DAYS_ENTRY_PAYMENT: document.getElementById('DAYS_ENTRY_PAYMENT').value,
                AMT_INSTALMENT: document.getElementById('AMT_INSTALMENT').value,
                DAYS_INSTALMENT: document.getElementById('DAYS_INSTALMENT').value,
                NUM_INSTALMENT_NUMBER: document.getElementById('NUM_INSTALMENT_NUMBER').value,
                CNT_INSTALMENT_FUTURE: document.getElementById('CNT_INSTALMENT_FUTURE').value,
                CNT_INSATLMENT: document.getElementById('CNT_INSATLMENT').value,
                MONTHS_BALANCE_Credit_card_balance: document.getElementById('MONTHS_BALANCE_Credit_card_balance').value,
                MONTHS_BALANCE_x: document.getElementById('MONTHS_BALANCE_x').value,
                CNT_FAM_MEMBERS: document.getElementById('CNT_FAM_MEMBERS').value,
                OWN_CAR_AGE: document.getElementById('OWN_CAR_AGE').value

                
            };
            fetch('/submitData', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    alert('Data submitted successfully!');
                    console.log(data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }    

  
   
        
    </script>
</body>

</html>