<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Loan Prediction</h1>
        <nav>
            <a href="{{ url_for('index') }}" class="nav-button">Home</a>
            <a href="{{ url_for('api') }}" class="nav-button">API</a>

            
        </nav>
    <div id="index-container">
        <div id="index-content">
            <h1>Welcome to Our Loan Approval System</h1>
            <p>
                Our system helps you determine your loan eligibility quickly and easily.
                Fill out the form to get started on your loan application!
            </p>
            <button id="index-button" onclick="location.href='/form.html'">Get Started</button>
        </div>
    </div>
</body>
</html>
